// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here:http://sass-lang.com/
table {
	border-collapse: collapse;

	td {
		height: 60px;
		width: 60px;
		border: 1px solid black;
		background: white;

		.selected img {
			border: 2px solid yellow;
		}

	}

	tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
		background: black;
	}

}

body {
	font: 14px "Century Gothic", Futura, sans-serif;
	margin: 20px;
}

ol, ul {
	padding-left: 30px;
}

.board-row:after {
	clear: both;
	content: "";
	display: table;
}

.status {
	margin-bottom: 10px;
}

.square {
	background: #fff;
	border: 1px solid #999;
	float: left;
	font-size: 24px;
	font-weight: bold;
	line-height: 34px;
	height: 34px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 34px;
}

.square:focus {
	outline: none;
	background: #ddd;
}

.game {
	display: flex;
	flex-direction: row;
}

.game-info {
	margin-left: 20px;
}

.red {
	background: red;
}

.black {
	background: black;
}
