// Place all the styles related to the Game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here:http://sass-lang.com/

body {
	font: 14px "Century Gothic", Futura, sans-serif;
	margin: 20px;
}

ol, ul {
	padding-left: 30px;
}

.board-row:after {
	clear: both;
	content: "";
	display: table;
}

.status {
	margin-bottom: 10px;
}

.square {
	background: #fff;
	border: 1px solid #999;
	float: left;
	font-size: 24px;
	font-weight: bold;
	line-height: 75px;
	height: 75px;
	margin-right: -1px;
	margin-top: -1px;
	padding: 0;
	text-align: center;
	width: 75px;
}

.square:focus {
	outline: none;
	background: #ddd;
}

.game {
	display: flex;
	flex-direction: row;
}

.game-info {
	font-size: 24px;
	margin-left: 20px;
}

.red {
	background: red;
}

.black {
	background: black;
}

#rules, #player {
	font-size: 24px;
	font-weight: bold;
}
