.black-pawn {
	background-image: url(#{image_path('black_pawn.png')
}

)
}

.white-pawn {
background-image: url(#{image_path('white_pawn.png')
}

)
}

.black-bishop {
background-image: url(#{image_path('black_bishop.png')
}

)
}

.white-bishop {
background-image: url(#{image_path('white_bishop.png')
}

)
}

.black-rook {
background-image: url(#{image_path('black_rook.png')
}

)
}

.white-rook {
background-image: url(#{image_path('white_rook.png')
}

)
}

.black-knight {
background-image: url(#{image_path('black_knight.png')
}

)
}

.white-knight {
background-image: url(#{image_path('white_knight.png')
}

)
}

.black-king {
background-image: url(#{image_path('black_king.png')
}

)
}

.white-king {
background-image: url(#{image_path('white_king.png')
}

)
}

.black-queen {
background-image: url(#{image_path('black_queen.png')
}

)
}

.white-queen {
background-image: url(#{image_path('white_queen.png')
}

)
}
